html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}


header {
  background: black;
  color: #fff;
  padding: 20px;
  text-align: left;
}

nav a {
  color: black;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  flex: 1;
  width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}

h2 {
  color: black;
  margin-bottom: 10px;
}

.about, .contact {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact input, .contact textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

.contact button {
  padding: 12px;
  border: none;
  background: black;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.contact button:hover {
  background: white;
  color: black;
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;

}

@media(max-width: 600px){
  nav a {
    display: block;
    margin: 10px 0;
  }
}